@{
    ViewBag.Title = "upload";
}

<h2>upload</h2>
<form action="/Product/add" method="post" enctype="multipart/form-data" >
    uplaod file<input type="file" name="path" />
   <input type="submit" value="submit"/>
</form>

